<div class="wrap bootstrap-wrapper">
    {% include('admin/partials/notifications.html.twig') %}

    <div class="ws-admin-container">
        <div class="row">
            <div class="col-12 text-center">
                <h3>{{ __("Bolge", "bolge") }}</h3>
            </div>
        </div>
    </div>       
</div>
